<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campgrounds</title>
</head>

<body>
    <h1>Edit Campgrounds</h1>
    <form action="/campgrounds/<%=campgrounds._id%>?_method=PUT" method="post">
        <label for="title">Title</label>
      <input type="text"  name="Campground[title] " id="title" value="<%= campgrounds.title %> ">
      <br>
      <label for="location">Location</label>
      <input type="text" v name="Campground[Location] " id="location" value="<%= campgrounds.location %> ">
    <button type="submit">Edit</button>
    </form>
</body>