    <% layout('/layouts/Boilerplate') %> 
    <h1>All Campgrounds</h1>
    <div>
        Add Campground
    </div>
    <ul>
        <% for (let campground of campgrounds){%>
        <li><a href="/campgrounds/<%= campground._id %> "><%= campground.title %></a></li>
        <% }%>
    </ul>

