<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>

<body>
    <h1>Campgrounds</h1>
    <ul>
        <li>
            <%= campgrounds.title %> 
        </li>
        <li>
            <%= campgrounds.location %>
        </li>
    </ul>
    <br>
    <form action="/campgrounds/<%=campgrounds._id%>?_method=Delete" method="POST">
        <button>DELETE</button>
    </form>
    
</body>